* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: black;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.menu-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    padding: 15px;
    border: 3px solid white;
    border-radius: 9px;
    color: white;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.image-item {
    margin: 10px;
    text-align: center;
    background-color: dark grey;
    border-radius: 8px;
    padding: 10px;
}

.image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.food-item {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

.price {
    font-size: 22px;
    margin-bottom: 5px;
    color: white;
}

.description {
    font-size: 22px;
    color: white;
}

button {
    background-color: #4c4faf;
    color: white;
    border: none;
    padding: 25px 40px;
    border-radius: 9px;
    cursor: pointer;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

hr {
    width: 100%;
    margin-top: 5cm;
    border: 1px solid white;
}

.order-form {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.order-form label,
.order-form input,
.order-form button {
    margin: 10px;
}

/* Additional styles for input boxes */
input {
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
    font-size: 20px;
}
